

.order-card {
  color: black;
}

.bg-c-cinza {
  background: linear-gradient(45deg,#d9d9d9,#e9ecef);
}

.bg-c-amarelo {
  background: linear-gradient(45deg,#ffff80,#ffffb3);
}

.bg-c-verde {
  background: linear-gradient(45deg,#2ed8b6,#b3ffcc);
}

.row{
  justify-content: center;
}




.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.posicao{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}