

.dados-usuario{
    margin-right: 100px;
    font-size: 18px;
}

form label{
    color: black !important;
}

.modal-title{
    color: black !important;
}

.titulo-modal{
    margin-left: 30%;
    
}

.table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

thead{
    position: sticky;
    top: 0;

}

.scroll{
    margin: 10px;
    max-height: 300px;
    overflow: scroll;
}

.fundo-tabela{
    background-color: #e9ecef;
    margin-top: 30px;
    border-color: white;
    border: solid 1px;
    border-radius: 8px;
    padding: 2px;
}

.botao-buscar{
margin-top: 10% !important;
}

.botao-buscar .row{
justify-content: center;
}

.fundo-tabela{
background-color: #e9ecef;
margin-top: 30px !important;
border-color: #e9ecef ;
border-radius: 8px;
padding: 2px;
}


